<style>
    body{
        padding-top: 10px;
        background-image: url("img/menu1.jpg");
    }
    #change{
        text-align: center;
        background-color: rgba(200,200,200,0.5);
    }
    #add{
        position:fixed;
        top:10px;
    }
    #up{
        margin-top:48px;
        height:500px;
        overflow: scroll;
        padding-bottom: 20px;
    }
    #change table {
        margin: 0 auto;
    }
    #change table input{
        margin-left:20%;
        width: 60%;
        text-align:center;
    }
    #change table button{
        width: 120%;
    }
    #out{
        width:100%;
        background-color:rgba(100,100,100,0.6);
        position:fixed;
        top:0px;
        border:0px;
        height:900px;
    }
    #add_menu{
        /*display: none;*/
        background-color:wheat;
        position:fixed;
        width:80%;
        height:230px;
        top:200px;
        left:10%;
        border:0px solid black;
        border-radius:5px;
    }
    #add_menu span{
        color: green;
        font-size: 1.3rem;
        font-weight: bolder;
        position:relative;
        top:34px;
        left:95px;
    }
    #add_menu input{
        margin: 16px auto;
        height: 25px;
        width: 80%;
        border: none;
        background-color: rgba(200,200,200,0);
        border-bottom: 3px solid green;
        text-align: center;
        color: green;
        font-size: 1.3rem;
        font-weight: bolder;
    }
    #quit{
        position:relative;
        top:-38px;
        left:126px;
    }
</style>
<div id="change">
    <button id="add" ng-click="show_add()">增加列表</button>
    <a href="#first"><img id="return_img" src="img/red.png" alt="" /></a>
    <div id="up">
        <table>
            <tr><th>名称</th><th>单价修改</th><th>删除</th></tr>
            <tr ng-repeat="obj in lists">
                <td>{{obj.name}}</td>
                <td><input type="number" ng-model="obj.price"></td>
                <td><button ng-click="delete($index)">删除</button></td>
            </tr>
        </table>
    </div>
    <button  ng-click="toFirst()">提交</button>
<fieldset id="out" ng-show="showone">
    <div id="add_menu" ng-show="showone">
        <span>名称</span><br>
        <input id="add_name" type="text"><br>
        <span>价格</span><br>
        <input id="add_price" type="number">
        <button ng-click="add()">确认</button>
        <img id="quit" ng-click="show_add()" src="img/delete.png" alt="">
    </div>
</fieldset>

</div>

